<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <% unless product.present? %>
            <li>
              <a href="#">shop</a>
            </li>
          <% end %>
          <li class="active"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>