<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>  
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <!-- LOGIN MODAL -->
    <%= render "layouts/login_modal" %>
    <!-- SIGN UP MODAL -->
    <%= render "layouts/sign_up_modal.html.erb" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
